body {
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color:#f4f4f4;
}


/* Globol */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header {
	background:#35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom:#e8491d 3px solid;
}